.vscode
*.o
*.la
*.lo
*.Plo
config.h.in
configure
autoconf
autom4te.cache
config
CVS
plugin/build_settings
Makefile.common
Makefile.config
Makefile.in
Makefile
libtool
*.Po
.libs
plugin/.deps
config.h
config.log
config.status
stamp-h1
tempo2
unsupported_plugins/toasim/read_toasim
T2runtime/plugins
*..t2
.*.swp
getPeriod
tests/testTempo2
tests/testTKfit
tests/*.log
tests/*.trs
TKlongdouble.h
testEndToEnd
tempo2-20*/
tempo2-20*.tar.gz
aclocal.m4
config.h.in~
TempoNest
*.old
.deps
documentation/doxygen
*.log--
enum_str.C
enum_str.h
mpack_lite.double.inc
mpack_lite.__float128.inc
ltmain.sh
*.pyc
python/*/build
python/t2pred/t2pred.c
*~
t2help.h
convertxt
